@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --background-color: slateblue;
  --foreground-color: slategray;
}

body {
  background-color: var(--foreground-color);
  color: white;
}
